/* Rectangle 1 */
.background1{
    width: calc(100% - 2px); /* for borders */
    height: calc(100% - 2px);
    left: 0px;
    top: 0px;
    margin: 0;
    padding: 0;
    position: fixed;
    touch-action: none;
    z-index: -1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(188, 188, 188, 0.116) 100%), #161616;
    box-shadow: inset 0px 4px 100px #000000;
}

#sketch-holder{
    margin: 0;
    padding: 0;
    left: 32%;
    top: 10%;

    position: fixed;
    /* touch-action: none; */
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(255, 0, 244) 100%), #161616; */

}